menu "esu"

config KERNELESP
	tristate "esu kernel module support"
	depends on KPROBES && EXT4_FS
	default y
	help
	  Enable the esu early-boot substrate kernel module.
	  Requires CONFIG_KPROBES for kernel hooking support.
	  Requires CONFIG_EXT4_FS for `ext4_unregister_sysfs`.
	  To compile as a module, choose M here: the
	  module will be called esu.
	  A loadable module must be loaded by PID 1 during early boot.

config KERNELESP_DEBUG
	bool "esu debug mode"
	depends on KERNELESP
	default n
	help
	  Enable esu debug mode.

config KERNELESP_X86_PATCH_SYSCALL_DISPATCHER
	bool "Dynamically patch x64's hardened syscall dispatcher to support syscall hooks"
	depends on KERNELESP && X86_64
	default n
	help
	  Dynamically patch x64's hardened syscall dispatcher to support syscall hooks. This is a
	  replacement for a kernel source code patch, and is useful for x86_64 LKM mode.

endmenu
